<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<ion-content>
  <ion-card>
    <!-- <ion-card-header> -->
      <!-- <ion-card-title id="header-top" click="homePage()">Skip</ion-card-title> -->
      <button style="margin-left: 358px; margin-top: 14px; color: white; background-color:  #f7cf2df6;" (click)="homePage()">Skip</button>
       
    <!-- </ion-card-header> -->
    <ion-img src="../../assets/WhatsApp_Image_2024-08-01_at_11.01.15_AM-removebg-preview.png" alt=""></ion-img>
    <ion-card-header>
      <ion-card-title id="header-bottom">Test Astrologer</ion-card-title>
    </ion-card-header>
  </ion-card>

    <h1>Sign In</h1>
    <form [formGroup]="signInForm" >
      <!-- <ion-list>
      <ion-item>
    <ion-input fill="outline" placeholder="Mobile number" formControlName="mobileNumber"></ion-input>
    </ion-item>
    <ion-item *ngIf="signInForm.get('mobileNumber')!.invalid && (signInForm.get('mobileNumber')!.dirty || signInForm.get('mobileNumber')!.touched)">
      <ion-label color="danger" *ngIf="signInForm.get('mobileNumber')!.errors?.['required']">Mobile number is required</ion-label>
      <ion-label color="danger" *ngIf="signInForm.get('mobileNumber')!.errors?.['pattern']">Enter a valid mobile number</ion-label>
    </ion-item> -->
    <div class="phone">
      <mat-form-field appearance="outline" class="input-group" style="margin-left: 8px; width: 96%;">
        <mat-label>Mobile number</mat-label>
        
        <input matInput type="text" formControlName="mobileNumber" (keypress)="OnlyNumbersAllowed($event)"  />
        <mat-error *ngIf="signInForm.get('mobileNumber')?.hasError('required')">Mobile number is required</mat-error>
        <mat-error *ngIf="signInForm.get('mobileNumber')?.hasError('pattern')">Must be number have 10 digits</mat-error>
      </mat-form-field>
    </div>
<!-- <button id="btn-top" expand="block" type="submit" [disabled]="signInForm.invalid" (click)="onSignIn(signInForm.get('mobileNumber')?.value)">GET OTP</button> -->
<div class="term-condition">
 <div style=" margin-left: 10px; margin-top:10px"><input type="checkbox" formControlName="cb" ></div>
  <!-- <box-icon name='checkbox'></box-icon> -->
  <!-- <ion-checkbox formControlName="cb" class="checkbox-icon" style="margin-top: 10px; margin-left: 10px;   border-color: blue; color: blue;"></ion-checkbox> -->
  <p style="width: 92%; ">
    I have read Test Astrologer <span style="color: blue;">Privacy Policy</span> and agree to the <span style="color: blue;">Terms and conditions</span> 
  </p>
</div>
</form>

<button id="btn-top" expand="block" type="submit" [disabled]="!signInForm.valid" (click)="onSignIn(signInForm.get('mobileNumber')?.value)">GET OTP</button>

<ion-button id="btn-bottom" expand="block" shape="round" fill="outline" (click)="openSignUpPage()">CREATE NEW ACCOUNT</ion-button>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col style="border-left: none;"><p>100%</p><p>Privacy</p></ion-col>
      <ion-col>Verified</ion-col>
      <ion-col style="border-right: none;">Trusted</ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>