<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <!-- <ion-nav [root]="component"></ion-nav> -->
       <ion-back-button routerLink="/home-page"></ion-back-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>

    <ion-buttons slot="end" class="ion-padding">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-card >
    <ion-card-content style="margin-right: 0; padding-right: 0">
      <div>
        <img
          style="border: 1px solid red; border-radius: 50%"
          src="../../../../assets/profile.jpeg"
        />
        <div>{{this.data.userData.currentStatus}}</div>
        <section style="font-size: 0.6rem;">Silver</section>
        <ion-img
          src="../../../../assets/icons8-verified-badge-48.png"
          alt=""
        ></ion-img>
      </div>
      <section class="order-ratting">
         <button >{{this.data.userData.ratings.ratingCounter}} <ion-icon style=" margin: 0; padding: 0; height: 11px; width: 11px; color: #f3cc49; margin-left: 2px" name="star" ></ion-icon></button>
        <p >{{this.data.userData.receivedOrder}}</p>

      </section>
    </ion-card-content>

    <ion-card-content class="head-content">
      <ion-card-header class="ion-no-padding" style="padding: 4px 10px">
        <ion-card-title class="head" style="margin: 0; padding: 0">
          {{this.data.userData.salutation}}
        </ion-card-title>
        <ion-card-subtitle class="head-title" style="margin: 0; padding: 0 2px">
          {{this.data.userData.services[0].serviceTypeName + ","}}
        </ion-card-subtitle>
        <ion-card-subtitle class="head-title" style="margin: 0; padding: 0 2px">
          Exp:{{this.data.userData.aboutUs.workExperienceInMonth}}
        </ion-card-subtitle>
        <p>
          <span class="head-title"
            *ngFor="let lang of this.data.userData.languages"
          >
            {{lang.languageName + ", "}}
          </span>
        </p>
        <p class="free-price">
          <span>
            <span class="free" style="color: red">FREE</span>
            <span class="price">
              {{ " " }}
              <del>{{this.data.userData.offerAmount}}</del>{{" ₹" + this.data.userData.rates}}/min
            </span>
          </span>
        </p>
      </ion-card-header>
    </ion-card-content>
    <div class="icons-2" style="margin-right: 6px">
      <ion-icon style="color: rgb(19, 103, 19);" *ngIf="this.data.userData.availableConsultationType.mediumStatusCall; else hello" name="call"></ion-icon>
      <ng-template #hello>
        <div style="color: white">h</div>
      </ng-template>
      <ion-icon style="color:green;" name="chatbubble-ellipses" *ngIf="true;else hello1" ></ion-icon>
      <ng-template #hello1>
        <div style="color: white">h</div>
      </ng-template>

      <ion-icon style="color:green;"name="videocam" *ngIf="this.data.userData.availableConsultationType.mediumStatusVideo"></ion-icon>
    </div>
  <!-- </ion-card> -->
<!-- </ion-content> -->

    <!-- <ion-buttons slot="end" class="ion-padding"> -->

    <!-- <ion-icon name="notifications-outline"></ion-icon> -->

    <!-- </ion-buttons> -->
  </ion-card>
  <ion-title style="font-family: 'Poppins'; font-size: 1rem; font-weight: bold;">
    About Us
  </ion-title>
  <p style="margin-left: 20px; font-family: 'Poppins'; width: 90%; margin: auto; flex-wrap: wrap; text-align: justify; ">{{this.data.userData.aboutUs.description}}</p>
  <ion-card style="height: 200px; width: 90%;">
    <img style="margin-left: 20px;" src="{{this.data.userData.profile}}" alt="Img Not Found">  
  </ion-card>
</ion-content>
<!-- About Part -->

<ion-content>
  <ion-title> About Us</ion-title>

</ion-content>
 

